/** ################## FILTROS ################## */
.filtros {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0 .5rem 2rem;
}

.filtros #busqueda {
	width: 100%;
	margin-bottom: 0.55rem;

	border-radius: 0%;
	border: 2px solid #C6C6C6;

	color: #575757;
	font-size: 2.6rem;
	font-weight: bold;

	padding: 1rem;
}
.filtros #busqueda:hover {border-color: #afafaf;}
.filtros #busqueda:focus {
	border-color: #888888;
	outline: none;
	background-color: #f0f0f0;
}

.filtros .selector-filtros {
	width: calc(50% - 0.25rem);

	border-radius: 0%;
	border: 2px solid #A8A8A8;

	background-color: #D9D9D9;
	color: #515151;
	font-size: 2.6rem;
	font-weight: bold;

	padding: 1rem;
	position: relative;

	display: flex;
	justify-content: left;
	align-items: center;
	
}
.filtros .selector-filtros:hover, 
.filtros .selector-filtros:active,
.filtros .selector-filtros:focus {
	background-color: #cacaca;
}

.filtros .selector-filtros select {
	flex: 0 0 85%;
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	overflow: hidden;

	outline: none;
	border: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}
.filtros .selector-filtros::after {
	content:"\f078";
    font-family:'FontAwesome';
    position: absolute;
	display: inline-block;
	font-size: 3rem;
    top: 25%;
    right: 10px;
}

@media screen and (min-width: 1020px) {
	.filtros {
		gap: 1rem;
	}
	.filtros #busqueda {
		width: unset;
		flex-grow: 3;
		height: 6rem;
	}
	.filtros .selector-filtros {
		width: unset;
		flex-grow: 1;
		height: 6rem;
	}
}

/** ################## PRODUCTOS ################## */
.listado-productos {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0 1rem;
}

.producto {
	flex-basis: calc(100%);
	border-radius: 5%;
	background-color: #EEE7E0;
	text-decoration: none;

	display: flex;
	flex-flow: column nowrap;

	margin-bottom: 2rem;
}
.producto:hover {
	background-color: #dad3cc;
}

.producto img {
	width: 100%;
	height: 290px;
	margin-bottom: 1rem;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}

.producto .informacion-producto {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	text-align: center;
	height: 100%;
}

.producto .informacion-producto .nombre {
	flex-grow: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--color-primario);
	font-size: 3.6rem;
	padding: 1rem;
	margin: 0;
}

.producto .informacion-producto .precio {
	color: #000000;
	font-size: 2.8rem;
	font-weight: bold;
}

@media screen and (min-width: 570px) {
	.producto {
		flex-basis: calc(50% - 0.5rem);
	}
}

@media screen and (min-width: 900px) {
	.producto {
		flex-basis: calc(33.3% - 0.5rem);
	}
}

@media screen and (min-width: 1200px) {
	.producto {
		flex-basis: calc(25% - 0.5rem);
	}
}