@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Satisfy&display=swap');

/** ################## GLOBALES ################## */


:root {
	--color-primario: #E78748;
	--color-primario-oscuro: #CA7945;
	--color-primario-realce: #C0682F;
	--color-blanco: #FFF7F0;
	--color-blanco-hover: #E6D5C6;
	--color-oscuro: #402E32;

	--fuente-principal: "Comfortaa", Verdana, sans-serif;
	--fuente-cursiva: "Satisfy", "Lucida Handwriting", cursive;
}

*, *:before, *:after { 
	box-sizing: border-box; 
}


html {
	font-size: 62.5%;
}

body {
	background-color: var(--color-blanco);
	font-family: var(--fuente-principal);
}

/** ################## UTILIDADES ################## */
@media screen and (min-width: 1600px) {
	.seccion {
		max-width: 1200px;
		margin: 0 auto;
	}
}

*[data-transicion] {
	opacity: 0;
	animation: transicion 0.5s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes transicion {
	from {opacity: 0;}
	to {opacity: 1;}
}