/** ################## CARRITO MOBILE ################## */
.producto-carrito {
	background-color: var(--color-suave);
	
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.producto-carrito .principal {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 0 2rem;
	margin: 1rem 0;
}

.producto-carrito .principal .imagen {
	width: 45%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.producto-carrito .principal .imagen img {
	width: 100%;
	height: auto;
	max-width: 16rem;
	max-height: 16rem;
	border-radius: 5%;
}

.producto-carrito .principal .informacion {
	width: 65%;
	display: flex;
	flex-flow: column nowrap;
}
.producto-carrito .principal .informacion h3 {
	color: var(--color-primario);
	text-align: center;
	font-size: 2.7rem;
	margin: 0;
	word-wrap: break-word;
}
.producto-carrito .principal .informacion p {
	text-align: center;
	font-size: 2rem;
}

.producto-carrito .principal .informacion .acciones {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: 1rem;
}
.producto-carrito .principal .informacion .acciones button {
	background-color: var(--color-advertencia);
}
.producto-carrito .principal .informacion .acciones button:focus, .producto-carrito .principal .informacion .acciones button:hover, .producto-carrito .principal .informacion .acciones button:active {
	background-color: var(--color-advertencia-hover);
}

.producto-carrito .subtotal {
	background-color: var(--color-suave-realce);
	width: 100%;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.carrito .total {
	background-color: var(--color-enfoque);
	color: var(--color-blanco);
	width: 100%;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	padding: 2.6rem 0;
}

.carrito .continuar {
	font-size: 2.7rem;
	padding: 3rem;
	display: block;
	margin: 3rem auto;
}
.carrito a {
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.producto-carrito .principal .imagen img {
		max-width: 20rem;
		max-height: 20rem;
	}
	
	.producto-carrito .principal .informacion h3 {font-size: 3.6rem;}
	
	.producto-carrito .principal .informacion p {font-size: 2.6rem;}
	
	.producto-carrito .subtotal {font-size: 2.6rem;}
	
}

/** ################## CARRITO DESKTOP ################## */
.tabla-carrito {
	margin-top: 3rem;
	width: 100%;
	border-collapse: collapse;
}

.tabla-carrito .encabezados th {
	background-color: var(--color-primario);
	color: var(--color-blanco);
	font-size: 3rem;
	padding: 1.5rem 0;
}
.tabla-carrito .encabezados th.subtotal {
	background-color: var(--color-enfoque)
}

.tabla-carrito .fila-producto {
	background-color: var(--color-suave);
}
.tabla-carrito .fila-producto:nth-child(even) {
	background-color: var(--color-suave-2);
}

.fila-producto .celda-imagen .imagen {
	width: 27rem;
	height: 22rem;
	padding: 1.5rem;
}
.fila-producto .celda-imagen img {
	width: 100%;
	height: 100%;
	border-radius: 5%;
}

.fila-producto .celda-nombre h3 {
	color: var(--color-primario);
	text-align: center;
	font-size: 3.6rem;
	margin: 0;
	word-wrap: break-word;
}

.fila-producto .celda-precio p {
	text-align: center;
	font-size: 3.2rem;
}

.fila-producto .celda-acciones .acciones {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: 1rem;
}

.fila-producto .celda-acciones .acciones button {
	background-color: var(--color-advertencia);
}
.fila-producto .celda-acciones .acciones button:hover {
	background-color: var(--color-advertencia-hover);
}

.fila-producto .celda-subtotal {
	background-color: var(--color-realce-desktop);
}
.fila-producto:nth-child(even) .celda-subtotal {
	background-color: var(--color-realce-desktop2);
}
.fila-producto .celda-subtotal p {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}

.total-final {
	color: var(--color-blanco);
	font-size: 4rem;
	text-align: center;
	background-color: var(--color-enfoque-desktop);
	
}
.total-final td {padding: 1.8rem;}
.total-final .precio {
	background-color: var(--color-realce-enfoque-desktop);
}

@media screen and (min-width: 1025px) {
	.contenedor-continuar {
		display: flex;
		justify-content: right;
	}
	.boton.continuar {
		font-size: 3.2rem;
		padding: 2.2rem 3rem;
		margin: 3rem 3rem 3rem auto;
		display: inline-block;
	}
}