/** ################## FOOTER ################## */

.footer {
	width: 100%;
	background-color: var(--color-primario);
	color: var(--color-blanco);
	
	display: flex;
	flex-flow: column wrap;
}

.footer .logo-footer {
	text-decoration: none;
	font-family: var(--fuente-cursiva);
	font-size: 3.2rem;
	font-weight: bold;
	color: var(--color-blanco);
	text-align: center;

	margin: 2rem 0 3.2rem;
}
.footer .logo-footer:hover {
	color: var(--color-blanco-hover);
	cursor: pointer;
}

.footer nav.navegacion-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.3rem;

	margin-bottom: 3.6rem;
}

.footer nav.navegacion-footer a, 
.footer nav.navegacion-footer a:visited {
	text-decoration: none;
	font-size: 1.8rem;
	color: var(--color-blanco);
}
.footer nav.navegacion-footer a:hover {color: var(--color-blanco-hover);}

.footer .redes-sociales {
	display: flex;
	justify-content: center;
	gap: 3.6rem;

	margin-bottom: 2rem;
}

.footer .redes-sociales i {
	font-size: 2.8rem;
}
.footer .redes-sociales i:hover {
	cursor: pointer;
	color: var(--color-blanco-hover);
}

@media screen and (min-width: 768px){
	.footer {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: baseline;
	}
	.footer .logo-footer {width: 100%;}
	
	.footer nav.navegacion-footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2.3rem;
	
		margin-bottom: 3.6rem;
	}
}

@media screen and (min-width: 1020px){
	.footer {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: baseline;

		padding: 2.6rem 0;
	}
	.footer .logo-footer {
		width: auto;
		margin: 0;
		font-size: 3.6rem;
	}
	
	.footer nav.navegacion-footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2.3rem;
		
		margin: 0;
	}

	.footer .redes-sociales {margin: 0;}
}

/** ################## COPYRIGHT ################## */

.copyright {
	display: block;
	width: 100%;
	background-color: var(--color-primario-oscuro);
	padding: 1.2rem 0;
}
.copyright a p {
	margin: 0;
	font-size: 1.4rem;
	text-align: center;
}
.copyright a, .copyright a:visited {
	color: var(--color-blanco);
	text-decoration: none;
}
.copyright a:hover {
	color: var(--color-blanco-hover);
	cursor: pointer;
}
.copyright a i {
	font-size: 1.7rem;
}