/** ################## PRODUCTO SELECCIONADO ################## */
.producto-seleccionado {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 0 1rem;
	margin-top: 2rem;
}
.producto-seleccionado .imagen-producto {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
}

.producto-seleccionado .imagen-producto img {
	width: 100%;
	height: 360px;
	border-radius: 5%;
}

.producto-seleccionado .informacion-producto {
	padding: 0 1.5rem;
	width: 100%;
}

.producto-seleccionado .informacion-producto .precio {
	color: #000000;
	font-size: 2.8rem;
	font-weight: bold;
	text-align: center;
}

.producto-seleccionado .informacion-producto .descripcion {
	color: #2c2c2c;
	font-size: 2.35rem;
	line-height: 3.4rem;
	font-weight: bold;
	padding: 0 auto;
}

.producto-seleccionado .informacion-producto .categorias {
	color: #777777;
	font-size: 2.1rem;
	font-weight: bold;
}

.producto-seleccionado .acciones {
	width: 95%;
	padding-top: 2rem;
	border-top: 2px solid #666666;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 2.5rem;
}

@media screen and (min-width: 1024px) {
	.producto-seleccionado {
		flex-flow: row nowrap;
		align-items: center;
	}

	.producto-seleccionado .imagen-producto {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.producto-seleccionado .imagen-producto img {
		width: 75%;
	}
}

/** ################## ACCIONES ################## */

.acciones .cantidad {
	width: 10rem;
	padding: 1rem;

	border-radius: 0%;
	border: 2px solid #C6C6C6;

	color: #575757;
	font-size: 2.8rem;
	font-weight: bold;

	-moz-appearance: textfield;
	text-align: center;
}
.acciones .cantidad:hover {border-color: #afafaf;}
.acciones .cantidad:focus {
	border-color: #888888;
	outline: none;
	background-color: #f0f0f0;
}

.acciones .boton {
	font-size: 4rem;
}

@media screen and (min-width: 1024px) {
	.acciones .cantidad {
		width: 7.5rem;
		font-size: 2.5rem;
	}

	.acciones .boton {font-size: 3rem;}
}

/** ################## RELACIONADOS ################## */
.productos-relacionados {
	padding: 0 1rem;
	margin-top: 8rem;
}

.productos-relacionados h2 {
	color: var(--color-primario);
	text-align: center;
	font-size: 3.6rem;
	margin: 2.4rem 0;
}

.productos-relacionados .listado {
	display: flex;
	justify-content: safe;
	gap: 3rem;
	flex-flow: row nowrap;
	overflow-x: scroll;
	scrollbar-width: none;
}

.productos-relacionados .listado .producto {
	flex: 100% 1 0;
	min-width: 240px;
	max-width: 350px;
}

@media screen and (min-width: 1024px) {
	.productos-relacionados {
		margin-bottom: 5rem;
		padding: 0 7rem;
	}
	
	.productos-relacionados .listado {
		scrollbar-width: initial;
	}

	.productos-relacionados .listado .producto {
		min-width: 300px;
	}
}

/** ################## ERROR ################## */
.mensaje-error {
	margin-top: 3rem;
	max-width: 1000px;
}