/** ################## HERO ################## */

.hero {
	height: 100vh;
	background-image: url("../../img/Index/hero.jpg");
	background-size: cover;
	color: var(--color-blanco);

	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.titulo-hero h1 {
	font-family: var(--fuente-cursiva);
	font-size: 7.4rem;
	color: var(--color-primario);
	text-align: center;

	margin-top: 6rem;
}
@media screen and (min-width: 520px) {.titulo-hero h1 {font-size: 10.4rem;}}
@media screen and (min-width: 768px) {.titulo-hero h1 {font-size: 16rem;}}
@media screen and (min-width: 1600px) {.titulo-hero h1 {font-size: 20rem; margin-top: 16rem;}}

.titulo-hero h2 {
	font-family: var(--fuente-principal);
	font-size: 2.12rem;
	text-align: center;
	letter-spacing: 0.4rem;
	text-align: center;

	margin-top: 4rem;
}
@media screen and (min-width: 520px) {.titulo-hero h2 {font-size: 3.6rem;}}
@media screen and (min-width: 768px) {.titulo-hero h2 {font-size: 4.2rem;}}
@media screen and (min-width: 1600px) {.titulo-hero h2 {font-size: 5.6rem; margin-top: 8rem;}}

.informacion-hero {
	display: flex;
	flex-flow: column;
	align-items: center;
}
@media screen and (min-width: 520px) {.informacion-hero {margin-bottom: 3rem;}}

.informacion-hero h3 {
	font-family: var(--fuente-cursiva);
	font-size: 3.8rem;
	text-align: center;
}
@media screen and (min-width: 520px) {.informacion-hero h3 {font-size: 5.8rem; margin: 1rem 0;}}
@media screen and (min-width: 1600px) {.informacion-hero h3 {font-size: 6.2rem;}}

.informacion-hero i {
	font-size: 7rem;
}
@media screen and (min-width: 520px) {.informacion-hero i {font-size: 9rem;}}

/** ################## NUESTROS PRODUCTOS ################## */
.nuestros-productos h2 {
	font-family: var(--fuente-cursiva);
	font-size: 3.8rem;
	text-align: center;
}
@media screen and (min-width: 520px) {.nuestros-productos h2 {font-size: 5rem;}}
@media screen and (min-width: 1600px) {.nuestros-productos h2 {font-size: 6rem;}}


.categorias-productos {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.categoria {
	background-color: var(--color-primario);
	margin-bottom: 2rem;
	padding: 3.5rem 0;
}

.categoria span {
	display: block;
	color: var(--color-blanco);
	font-size: 4.2rem;
	text-align: center;
}
@media screen and (min-width: 1300px) {.categoria span {font-size: 5.6rem;}}

.categoria h4 {
	font-family: var(--fuente-cursiva);
	color: var(--color-blanco);
	font-size: 6.2rem;
	text-align: center;
	margin: 3rem 0 0 0;
}
@media screen and (min-width: 1300px) {.categoria h4 {font-size: 7.2rem;}}

@media screen and (min-width: 920px) {
	.categorias-productos {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 2rem;
	}

	.categoria {
		padding: 7rem 2rem;

		flex-basis: calc(27% - 2rem);
		border-radius: 5%;
	}
}

/** ################## DONDE ENCONTRARNOS ################## */
.donde-encontrarnos {
	background-color: var(--color-oscuro);
	background-image: linear-gradient(rgba(64,46,50,0.5) 0%, rgba(64,46,50,1) 25%), url("../../img/Index/bg_donde_estamos.jpg");
	background-size: cover;

	padding: 2.4rem 1rem;
	margin-top: 4rem;
}

.contenido-donde-encontrarnos h2 {
	color: var(--color-primario);
	font-size: 4.2rem;
	text-align: center;
	margin: 0 0 3rem;
}

.contenido-donde-encontrarnos .informacion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
}

.contenido-donde-encontrarnos .informacion i {
	color: var(--color-primario);
	font-size: 3.6rem;
	text-align: center;
	flex: 0 0 6rem;
}

.contenido-donde-encontrarnos .informacion p {
	color: var(--color-blanco);
	font-size: 2rem;
	line-height: 3rem;
	margin: 0;

	flex-grow: 1;
}

.contenido-donde-encontrarnos .mapa {
	display: block;
	width: 85%;
	height: 40rem;
	background-color: var(--color-primario);

	margin: 0 auto;
}

@media screen and (min-width: 1024px) {
	.donde-encontrarnos {
		background-image: linear-gradient(90deg, rgba(64,46,50,0.5) 30%, rgba(64,46,50,1) 47%), url("../../img/Index/bg_donde_estamos_grande.jpg");
		background-size: cover;
		background-position: center center;
		margin-bottom: 6rem;
	}

	.contenido-donde-encontrarnos {
		width: 50%;
		margin: 0 0 0 auto;
	}

	.contenido-donde-encontrarnos .informacion i {font-size: 4rem;}
	.contenido-donde-encontrarnos .informacion p {font-size: 2.4rem;}

}